{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}

{% block body %}
<div class="container" id="wrapper">
	<header>
		<h1 class="container">
			<div class="user">
				{% if user.is_authenticated %}
				Angemeldet als {{user.first_name}} {{user.last_name}}. <a href="{% url 'auth.views.logout' %}">Logout</a>
				{% else %}
				<a href="{% url 'auth.views.login' %}">Login</a>
				{% endif %}
			</div>
			<a href="{% url 'main.views.index' %}" class="brand">myHPI</a>
		</h1>
		<div id="gradient"></div>
		<nav class="navbar navbar-default" id="top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="top-navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a>Informationen</a></li>
					<li><a>Umfragen</a></li>
					<li><a>Fachschaftsrat</a></li>
					<li><a>StuKo</a></li>
				</ul>
			</div>
		</nav>
	</header>

	{% if messages %}
	<div class="container">
		{% bootstrap_messages %}
	</div>
	{% endif %}

	{% block rawcontent %}
	<section class="container" id="content">
		<h2>{% block title %}{% endblock title %}</h2>
		{% block content %}
		{% endblock %}
	</section>
	{% endblock %}

	<footer>
		<div class="container">
			<p class="text-muted">
				Powered by <a href="https://github.com/fsr-itse/1327">1327</a>.
			</p>
		</div>
	</footer>
</div>
{% endblock %}
