{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}

{% block body %}
<div class="container main-container" id="wrapper">
	<header>
		<div class="container title">
			<div class="col-sm-2">
				<a href="{% url 'main.views.index' %}"><div class="myhpi-logo"></div></a>
			</div>
			<div class="col-sm-10 header">
				<div class="fsr-logo"></div>
				<div class="text">
					{% if user.is_authenticated %}
						Angemeldet als {{user.username}}.
					{% endif %}
					{% if user.is_authenticated %}
						<a href="{% url 'user_management.views.logout' %}">Logout</a>
					{% else %}
						<a href="{% url 'user_management.views.login' %}">Login</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div id="gradient"></div>
		<nav class="navbar navbar-default" id="top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="top-navbar-collapse">
				<ul class="nav navbar-nav">
					{% for item in main_menu %}
					<li{% if item.selected %} class="active"{% endif %}>
						<a href="{{ item.get_url }}">{{ item.title }}</a>
						{% if item.selected and item.submenu %}
							<ul class="nav navbar-nav subnav">
								{% for subitem in item.submenu %}
									<li{% if subitem.selected %} class="active"{% endif %}><a href="{{ subitem.get_url }}">{{ subitem.title }}</a></li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
					{% endfor %}
					{% if CAN_CREATE_INFORMATIONPAGE %}
						<li class="pull-right">
							<a href="{% url 'information_pages:create' %}">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
	</header>

	{% if messages %}
	<div class="container messages">
		{% bootstrap_messages %}
	</div>
	{% endif %}

	{% block rawcontent %}
	<div class="headline">
		<svg height="60" width="100%">
			<defs>
				<filter id="shadow" width="200%" height="200%">
					<feOffset result="offOut" in="SourceGraphic" dx="3" dy="5"></feOffset>
					<feGaussianBlur result="blurOut" in="offOut" stdDeviation="3"></feGaussianBlur>
				</filter>
			</defs>
			<polygon class="headline-bar-shadow" filter="url(#shadow)"></polygon>
			<polygon class="headline-bar"></polygon>
			<text class="headline-text" dx="30" dy="25">{% block title %}{% endblock %}</text>
		</svg>		
	</div>
	{% endblock %}

	<footer>
		<div class="container">
			<p>Powered by <a href="https://github.com/fsr-itse/1327">1327</a>.</p>
		</div>
	</footer>
</div>
{% endblock %}


{% block scripts %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function() {
        	// resize headline bar to fit the text
        	var l = $('.headline-text')[0].getComputedTextLength() + 50;
        	var points = "-10,0 " + (l+18) + ",0 " + l + ",50 -10,50";
        	$('.headline-bar')[0].setAttribute('points', points);
			$('.headline-bar-shadow')[0].setAttribute('points', points);
        });
    </script>
{% endblock %}
