{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% load hijack_tags %}
{% load redirect_login_tags %}


{% block body %}
<div class="container main-container" id="wrapper">
	<header class="hidden-print">
		{% include "navbar.html" %}
		<div class="header-line-gradient gradient"></div> {# Gradient line #}
		<div class="header-line-subheader">{% spaceless %}
			<div class="breadcrumb-area">
				<ul class="breadcrumbs">
					{% block breadcrumbs %}{% endblock %}
				</ul>
			</div>
			<div class="login-area pull-right hidden-print">
				<div class="language-info">
					{% get_current_language as LANGUAGE_CODE %}
					{% if LANGUAGE_CODE == "de" %}
						<span class="language-button language-button-selected">DE</span> |
						<a onclick="setLanguage('en');"><div class="language-button">EN</div></a>
					{% else %}
						<a onclick="setLanguage('de');"><div class="language-button">DE</div></a> |
						<span class="language-button language-button-selected">EN</span>
					{% endif %}
				</div>
				<div class="login-info" {% if user.groups.all %}data-toggle="tooltip" data-placement="bottom" data-container="body" title="{% trans 'Groups' %}: {{ user.groups.all|join:', ' }}"{% endif %}>
					{% if user.is_authenticated %}{% trans 'Logged in as' %} <b>{{ user.get_full_name }}</b>{% endif %}
				</div>
				<a href="{% if user.is_authenticated %}{% url 'logout' %}{% else %}{% url 'login' %}{% redirect_login %}{% endif %}">
					<div class="login-button">
						{% if user.is_authenticated %}{% trans 'Logout' %}{% else %}{% trans 'Login' %}{% endif %}
					</div>
				</a>
			</div>
		{% endspaceless %}</div>
	</header>

	{% hijack_notification %}

	{% if messages %}
	<div class="container messages hidden-print">
		{% bootstrap_messages %}
	</div>
	{% endif %}

	{% block rawcontent %}
	<div class="headline">
		<div class="headline-triangle-back hidden-print"></div>
		<div class="headline-box-shadow">
			<span class="headline-box">{% block title %}{% endblock title %}</span>
			<span class="headline-box-end hidden-print"></span>
		</div>
	</div>
	{% endblock %}

	<footer class="hidden-print">
		<div class="footer-line"></div> {# Top line for footer #}
		<div class="footer-line gradient gradient-inv"></div> {# Gradient line #}
		<div class="container footer-container">
			<ul class="pull-left">
				{% for item in footer %}
					<li><a href="{{ item.get_url }}">{{ item.title }}</a></li>
				{% endfor %}
			</ul>
			<span class="pull-right">Powered by <a class="brand-link" href="https://github.com/fsr-itse/1327">1327</a>.</span>
		</div>
	</footer>
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top hidden-print" role="button" title="{% trans 'Return to the top of the page' %}" data-toggle="tooltip" data-placement="left"><span class="fa fa-chevron-up"></span></a>
{% endblock %}


{% block scripts %}
	{{ block.super }}

	<script type="text/javascript">
		$(document).ready(function() {
			$('[data-toggle="tooltip"]').not(".hidden-print").tooltip();
			$('.headline-box').tooltip({
				delay: { "show": 1500, "hide": 0 },
				placement: "bottom",
				container: "body",
				title: function(){ return $('.headline-box').text(); }
			});

			// add scroll to top button
			$(window).scroll(function () {
				if ($(this).scrollTop() > 50) {
					$('#back-to-top').fadeIn();
				} else {
					$('#back-to-top').fadeOut();
				}
			});
			// scroll body to 0px on click
			$('#back-to-top').click(function () {
				$('#back-to-top').tooltip('hide');
				$('body,html').animate({
					scrollTop: 0
				}, 800);
				return false;
			});

			// highlight parent of subsubmenuitem
			$('ul .dropdown-menu').on('mouseover', function(){
				$(this).parent().addClass('menu-hover');
			}).on('mouseout', function(){
				$(this).parent().removeClass('menu-hover');
			});
		});

		function setLanguage(language) {
			$.ajax({
				type: "POST",
				url: "{% url 'set_lang' %}",
				data: {"language": language},
				success: function(){ location.reload(); },
				error: function(){}
			});
		};
	</script>
{% endblock %}
