{% load static %}
{% load compress %}
{% load bootstrap4 %}
{% load hijack_tags %}

<!DOCTYPE html>
<html>
<head>
	{% block header %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>myHPI – {% block title %}{% endblock %}</title>
		<link rel="shortcut icon" type="image/x-icon" href="{{ FAVICON_FILE }}"/>
		{% compress css %}
		<link rel="stylesheet" type="text/x-scss" href="{% static 'node_modules/font-awesome/scss/font-awesome.scss' %}" />
		<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/1327.scss' %}" />
		<link rel="stylesheet" type="text/x-scss" href="{% static 'node_modules/jquery-ui-bundle/jquery-ui.css' %}">
		<link rel="stylesheet" type="text/x-scss" href="{% static 'node_modules/select2/dist/css/select2.min.css' %}" />
		{% if request and request|is_hijacked %}
			<link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />
		{% endif %}
		{% endcompress %}
		{% block css %}{% endblock %}

		<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/jquery-ui-bundle/jquery-ui.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/jquery-ui-datepicker-with-i18n/ui/jquery.ui.datepicker.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/select2/dist/js/select2.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
	{% endblock %}
</head>
<body>
{% block modals %}
{% endblock %}
{% block body %}
{% endblock %}
<!-- Script that automatically adds the csrf cookie for ajax post requests -->
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
{% block scripts %}

{% endblock %}
</body>
</html>
