/env/
.vagrant

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# IDEA
/.idea/
*.iml

# 1327 specific
/_1327/media/
/_1327/staticfiles/
/_1327/db.sqlite3
/_1327/localsettings.py
