[submodule "_1327/static/bootstrap"]
	path = _1327/static/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "puppetlabs-concat"]
	path = deployment/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "puppetlabs-stdlib"]
	path = deployment/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppetlabs-apache"]
	path = deployment/modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "puppetlabs-postgresql"]
	path = deployment/modules/postgresql
	url = https://github.com/karyon/puppetlabs-postgresql.git
[submodule "_1327/static/bootstrap-markdown"]
	path = _1327/static/bootstrap-markdown
	url = https://github.com/toopay/bootstrap-markdown.git
