channels == 3.0.3
channels-rabbitmq == 2.0.0

Django >=3.0, <3.1
django_compressor==2.4
django-libsass==0.8

django-extensions == 3.1.1

django-bootstrap4 == 1.1.1
django-reversion == 3.0.9
django-guardian == 2.3.0
django-hijack == 2.1.10
django-compat == 1.0.15
django-polymorphic == 2.1.2
django-sendfile == 0.3.11

Markdown == 3.1.1

mozilla-django-oidc == 1.2.4

tenca == 0.0.1
