channels >= 1.1.6

Django >=1.11, <1.12
django-static-precompiler >=1.4, <1.5

django-extensions >= 1.8.1

django-bootstrap3 >= 8.2.3
django-admin-bootstrapped >= 2.5.7
django-reversion >= 2.0.9
django-guardian >= 1.4.9
django-hijack >= 2.1.4
django-polymorphic >= 1.2
django-sendfile >= 0.3.11

Markdown >= 2.6.8
