channels == 2.3.1
channels_redis == 2.4.1

Django >= 2.2, < 2.3
django_compressor==2.2
django-libsass==0.7

django-extensions == 2.2.1

django-bootstrap4 == 1.1.1
django-admin-bootstrapped == 2.5.7
django-reversion == 3.0.1
django-guardian == 2.0.0
django-hijack == 2.1.10
django-compat == 1.0.15
django-polymorphic == 2.1.2
django-sendfile == 0.3.11

Markdown == 3.1.1

mozilla-django-oidc == 1.2.3
