{% extends 'documents_edit.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block inlineformset %}
	<h3>Choices</h3>
	{{ formset.management_form }}
	{% bootstrap_formset_errors formset layout='inline' %}
	<div id="choice-inline-form">
		<table class="table table-striped choice-table">
			<thead>
				<tr>
					<th></th>
					<th>{% trans "Text" %}</th>
					<th>{% trans "Description" %}</th>
					<th>{% trans "Delete?" %}</th>
				</tr>
			</thead>
			<tbody>
				{% for form_element in formset %}
					<tr class="sortable">
						{% for field in form_element.hidden_fields %}
							{{ field }}
						{% endfor %}
						<td class="sorthandle"><span class="glyphicon glyphicon-move"></span></td>
						<td>
							<div class="row">
								{% bootstrap_field form_element.text_de layout='horizontal' show_label=False horizontal_label_class="" %}
							</div>
							<div class="row">
								{% bootstrap_field form_element.text_en layout='horizontal' show_label=False horizontal_label_class="" %}
							</div>
						</td>
						<td>
							<div class="row">
								{% bootstrap_field form_element.description_de layout='horizontal' show_label=False horizontal_label_class="" %}
							</div>
							<div class="row">
								{% bootstrap_field form_element.description_en layout='horizontal' show_label=False horizontal_label_class="" %}
							</div>
						</td>
						<td>{% if form_element.instance.pk %}{{ form_element.DELETE }}{% endif %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block additional_scripts%}
	function setOrderIndex(row, index) {
		var text = row.find("input[name*='text_de']");
		var description = row.find("input[name*='description_de']");
		var orderIndex = row.children("input[name*='index']");
		if (text.val() === "" && description.val() === "") {
			// if the row is empty (has no text in the input fields) set the order to 0 (default),
			// so that the one extra row doesn't change its initial value
			orderIndex.val(0);
		} else {
			orderIndex.val(index);
		}
	}

	$('#document-form').on('submit', function(event) {
		// go through all choices and set the ordering index according to the current position
		var rows = $('.sortable');
		rows.each(function (index, row) {
			setOrderIndex($(row), index)
		});
		return true;
	});

	// enable formset functionality
	$('#choice-inline-form table tbody tr').formset({
		prefix: '{{ formset.prefix }}',
		deleteCssClass: 'delete',
		added: function(row) {
			row.find("input[name*='index']").val(row.parent().children().length);
		}
	});

	// make forms sortable
	$('#choice-inline-form table tbody').sortable({
		items: '.sortable',
		handle: '.sorthandle',
	});
{% endblock %}
