{% extends 'base_without_sidebar.html' %}

{% load i18n %}
{% load guardian_tags %}
{% load bootstrap3 %}
{% load poll_tags %}

{% block title %}
	{% trans "Polls" %}
{% endblock %}

{% block content %}
	{% if upcoming_polls|length > 0 %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					{% trans "Upcoming polls" %}
				</div>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th class="col-xs-7">{% trans "Poll" %}</th>
						<th class="col-xs-4">{% trans "Voting period" %}</th>
						<th class="col-xs-1"></th>
					</tr>
				</thead>
				<tbody>
					{% for poll in upcoming_polls %}
						<tr>
							<td>{{ poll.title }}</td>
							<td>{{ poll.start_date }} - {{ poll.end_date }}</td>
							<td class="text-right">
								{% get_obj_perms request.user for poll as "poll_perms" %}
								{% if "change_poll" in poll_perms %}
									<a class="btn btn-warning btn-xs" href="{% url "documents:edit" poll.url_title %}">{% trans "Edit Poll" %}</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				{% trans "Polls you can vote for" %}
			</div>
		</div>
		{% if running_polls|length == 0 %}
			<div class="panel-body">
				<em>{% trans "There are no polls you can vote for." %}</em>
			</div>
		{% else %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th class="col-xs-7">{% trans "Poll" %}</th>
						<th class="col-xs-4">{% trans "Voting period" %}</th>
						<th class="col-xs-1"></th>
					</tr>
				</thead>
				<tbody>
					{% for poll in running_polls %}
						<tr>
							<td><a href="{% url "documents:view" poll.url_title %}">{{ poll.title }}</a></td>
							<td>{{ poll.start_date }} - {{ poll.end_date }}</td>
							<td class="text-right">
								{% get_obj_perms request.user for poll as "poll_perms" %}
								{% if "change_poll" in poll_perms %}
									<a class="btn btn-warning btn-xs" href="{% url "documents:edit" poll.url_title %}">{% trans "Edit Poll" %}</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				{% trans "Results of polls" %}
			</div>
		</div>
		{% if finished_polls|length == 0 %}
		<div class="panel-body">
			<em>{% trans "There are no results you can see." %}</em>
		</div>
		{% else %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="col-xs-7">{% trans "Poll" %}</th>
					<th class="col-xs-4">{% trans "Voting period" %}</th>
					<th class="col-xs-1"></th>
				</tr>
			</thead>
			<tbody>
				{% for poll in finished_polls %}
					<tr>
						{% if poll|can_see_results %}
							<td><a href="{% url "documents:view" poll.url_title %}">{{ poll.title }}</a></td>
						{% else %}
							<td><span data-toggle="tooltip" data-placement="right" title="You can see the result of this Poll as from {{ poll.end_date|one_day_later }}.">{{ poll.title }} {% bootstrap_icon "info-sign" %}</span></td>
						{% endif %}
						<td>{{ poll.start_date }} - {{ poll.end_date }}</td>
						<td class="text-right">
							{% get_obj_perms request.user for poll as "poll_perms" %}
							{% if "change_poll" in poll_perms %}
								<a class="btn btn-warning btn-xs" href="{% url "documents:edit" poll.url_title %}">{% trans "Edit Poll" %}</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>

{% endblock %}
