{% extends 'base_without_sidebar.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
	{% trans "Create a new Poll" %}
{% endblock %}

{% block content %}
	<form action="{{ url }}" method="post" class="form-horizontal" role="form" id="document-form">
		{% csrf_token %}
		{% bootstrap_form form layout='horizontal' %}

		<h3>{% trans "Choices for Poll" %}</h3>
		<div class="divider"></div>
		{{ choice_formset.management_form }}
		<table id="choice-formset" class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th>{% trans "Text" %}</th>
					<th>{% trans "Description" %}</th>
					<th>{% trans "Delete?" %}</th>
				</tr>
			</thead>
			<tbody>
				{% for form_element in choice_formset %}
					<tr class="sortable">
						{% for field in form_element.hidden_fields %}
							{{ field }}
						{% endfor %}
						<td class="sorthandle"><span class="glyphicon glyphicon-move"></span></td>
						<td>{% bootstrap_field form_element.text layout='horizontal' show_label=False horizontal_label_class="" %}</td>
						<td>{% bootstrap_field form_element.description layout='horizontal' show_label=False horizontal_label_class="" %}</td>
						<td>{% if form_element.instance.pk %}{{ form_element.DELETE }}{% endif %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<h3>{% trans "Permissions" %}</h3>
		<div class="divider"></div>
		{{ permission_formset.management_form }}
		<table class="table table-striped vertically-aligned table-narrow" >
			<thead>
				{{ permission_header }}
			</thead>
			<tbody>
			{% for form_element in permission_formset %}
				{{ form_element.as_table }}
			{% endfor %}
			</tbody>
		</table>
		{% buttons %}
		<div class="col-md-9">
			<button type="submit" class="btn btn-primary">
				{% bootstrap_icon "floppy-disk" %} {% trans 'Save' %}
			</button>
		</div>
		{% endbuttons %}
	</form>

	<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
	<script>
		function setOrderIndex(row, index) {
			var text = row.find("input[name*='text']");
			var description = row.find("input[name*='description']");
			var orderIndex = row.children("input[name*='index']");

			if (text.val() === "" && description.val() === "") {
				// if the row is empty (has no text in the input fields) set the order to 0 (default),
				// so that the one extra row doesn't change its initial value
				orderIndex.val(0);
			} else {
				orderIndex.val(index);
			}
		}

		// enable formset functionality
		$('#choice-formset tbody tr').formset({
			prefix: '{{ formset.prefix }}',
			deleteCssClass: 'delete',
			added: function(row) {
				row.find("input[name*='index']").val(row.parent().children().length);
			}
		});

		// make forms sortable
		$('#choice-formset tbody').sortable({
			items: '.sortable',
			handle: '.sorthandle',
			update: function (event, ui) {
				var rows = ui.item.parent().children('.sortable');
				rows.each(function (index, row) {
					setOrderIndex($(row));
				});
			}
		});

		$('form').submit(function () {
			var rows = $('.sortable');
			rows.each(function (index, row) {
				setOrderIndex($(row), index)
			});
			return true;
		});

		// add datepicker to date inputs
		$("input[name*='date']:not([readonly='True'])").datepicker( $.datepicker.regional["{{ LANGUAGE_CODE }}"] );
	</script>
{% endblock %}
