{% extends "base_without_sidebar.html" %}
{% load i18n %}

{% block title %}
	{% trans "Vote for Poll" %} "{{ poll.title }}"
{% endblock %}

{% block content %}
	{% if poll.description != "" %}
        <div class="panel panel-default">
            <div class="panel-body">
                {{ poll.description }}
            </div>
        </div>
    {% endif %}

	<form action="{% url 'polls:vote' poll.id %}" method="post" class="form-horizontal" role="form">
		{% csrf_token %}
		<table class="table table-striped">
			<tr>
				<th>{% trans "Choice" %}</th>
				<th>{% trans "Your vote" %}</th>
			</tr>
			{% for choice in poll.choices.all %}
				<tr>
					<td>{{ choice.text }}</td>
					<td>
						<input type="{{ widget }}" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
					</td>
				</tr>
			{% endfor %}
		</table>
		<div>
			<button type="submit" class="btn btn-primary">
				<i class="glyphicon glyphicon-send"></i> {% trans "Vote" %}
			</button>
		</div>
	</form>
{% endblock %}
