{% extends "documents_base.html" %}
{% load i18n %}

{% block content %}
	{% if description != "" %}
		<div class="panel panel-default">
			<div class="panel-body">
				{{ description|safe }}
			</div>
		</div>
	{% endif %}
	{%  if document.max_allowed_number_of_answers > 1 %}
		<div class="alert alert-warning" role="alert">
			{% blocktrans with max_allowed_number_of_answers=document.max_allowed_number_of_answers %}You have up to {{ max_allowed_number_of_answers }} votes.{% endblocktrans %}
		</div>
	{%  endif %}

	<form action="{% url document.get_view_url_name document.url_title %}" method="post" class="form-horizontal" role="form">
		{% csrf_token %}
		<table class="table table-striped">
			<tr>
				<th class="col-xs-1"></th>
				<th class="col-xs-5">{% trans "Choice" %}</th>
				{% if has_choice_descriptions %}<th class="col-xs-6">{% trans "Description" %}</th>{% endif %}
			</tr>
			{% for choice in document.choices.all %}
				<tr>
					<td>
						<input type="{{ widget }}" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
					</td>
					<td>{{ choice.text }}</td>
					{% if has_choice_descriptions %}<td>{{ choice.description }}</td>{% endif %}
				</tr>
			{% endfor %}
		</table>
		<div>
			<button type="submit" class="btn btn-primary">
				<i class="glyphicon glyphicon-send"></i> {% trans "Vote" %}
			</button>
		</div>
	</form>
    {% if attachments %}
        <div class="divider"></div>
        <h2 id="attachments">{% trans "Attachments" %}</h2>
        {% for attachment in attachments %}
            <div class="row">
                <div class="col-sm-4">
                    <a href="{% url 'documents:download_attachment' %}?hash_value={{ attachment.hash_value }}">{{ attachment.displayname }}</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
