{% extends 'base_without_sidebar.html' %}

{% load i18n %}
{% load guardian_tags %}

{% block title %}
	{% trans "Polls" %}
{% endblock %}

{% block content %}
	{% if upcoming_polls|length > 0 %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					{% trans "Upcoming polls" %}
				</div>
			</div>
			<table class="table table-striped">
				<tr>
					<th class="col-xs-7">{% trans "Poll" %}</th>
					<th class="col-xs-4">{% trans "Voting period" %}</th>
					<th class="col-xs-1"></th>
				</tr>
				{% for poll in upcoming_polls %}
					<tr>
						<td>{{ poll.title }}</td>
						<td>{{ poll.start_date }} - {{ poll.end_date }}</td>
						<td class="pull-right">
							{% get_obj_perms request.user for poll as "poll_perms" %}
							{% if "change_poll" in poll_perms %}
								<a class="btn btn-warning btn-xs" href="{% url "documents:edit" poll.url_title %}">{% trans "Edit Poll" %}</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	{% endif %}

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				{% trans "Polls you can vote for" %}
			</div>
		</div>
		{% if running_polls|length == 0 %}
			<div class="panel-body">
				<em>{% trans "There are no polls you can vote for." %}</em>
			</div>
		{% else %}
			<table class="table table-striped">
				<tr>
					<th class="col-xs-7">{% trans "Poll" %}</th>
					<th class="col-xs-4">{% trans "Voting period" %}</th>
					<th class="col-xs-1"></th>
				</tr>
				{% for poll in running_polls %}
					<tr>
						<td><a href="{% url "polls:vote" poll.url_title %}">{{ poll.title }}</a></td>
						<td>{{ poll.start_date }} - {{ poll.end_date }}</td>
						<td class="pull-right">
							{% get_obj_perms request.user for poll as "poll_perms" %}
							{% if "change_poll" in poll_perms %}
								<a class="btn btn-warning btn-xs" href="{% url "documents:edit" poll.url_title %}">{% trans "Edit Poll" %}</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				{% trans "Results of polls" %}
			</div>
		</div>
		{% if finished_polls|length == 0 %}
		<div class="panel-body">
			<em>{% trans "There are no results you can see." %}</em>
		</div>
		{% else %}
		<table class="table table-striped">
			<tr>
				<th class="col-xs-7">{% trans "Poll" %}</th>
					<th class="col-xs-4">{% trans "Voting period" %}</th>
				<th class="col-xs-1"></th>
			</tr>
			{% for poll in finished_polls %}
				<tr>
					<td><a href="{% url "polls:results" poll.url_title %}">{{ poll.title }}</a></td>
					<td>{{ poll.start_date }} - {{ poll.end_date }}</td>
					<td class="pull-right">
						{% get_obj_perms request.user for poll as "poll_perms" %}
						{% if "change_poll" in poll_perms %}
							<a class="btn btn-warning btn-xs" href="{% url "documents:edit" poll.url_title %}">{% trans "Edit Poll" %}</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>

{% endblock %}
