{% extends "base_with_sidebar_narrow.html" %}
{% load i18n %}
{% load static %}
{% load compile_static %}
{% load mptt_tags %}
{% load bootstrap3 %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'less/emails.less'|compile %}" />
{% endblock %}

{% block title %}
	{% blocktrans with month=current_month|date:'YEAR_MONTH_FORMAT' %}Email archive of {{ month }}{% endblocktrans %}
{% endblock title %}


{% block sidebar %}
	{{ block.super }}

	<form method="get" class="form" action="{% url 'emails:search' %}">
		{% bootstrap_form search_form %}
		{% buttons %}
			<button type="submit" class="btn btn-block btn-sm btn-primary">{% trans 'Search' %}</button>
		{% endbuttons %}
	</form>

	<h4>{% trans 'Statistics' %}</h4>
	<ul class="list-unstyled">
		{% for stat in statistics %}
			<li>
				<a href="{% url 'emails:archive' stat.year.year stat.month.month %}">{{ stat.month|date:'YEAR_MONTH_FORMAT' }}</a>: {{ stat.count }}
			</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block content %}
	{{ block.super }}

	{% include 'emails_pager.html' %}

	{% if emails|length == 0 %}
		<div class="alert alert-warning">{% trans 'No emails found for the given year and month.' %}</div>
	{% else %}
		{% include 'emails_tree.html' %}
	{% endif %}

	{% include 'emails_pager.html' %}
{% endblock %}
