@import "variables.scss";

// change_list actions
.actions {
	display: inline-block;
	margin: 0;
}
.actions select {
	display: inherit;
	width: inherit;
}
.action-counter {
	margin-left: 5px;
	vertical-align: sub;
}

// change_list table display
th.action-checkbox-column {
	width: 1.5em;
	text-align:center;
}

td.action-checkbox {
	text-align:center;
}

#result_list {
	margin-bottom: 0;
}

.form-actions {
	margin-bottom: $grid-gutter-width / 2;
}
