@import "variables.scss";

table.diff {
	border: 1px solid $gray;
	white-space: pre-wrap;
	display: table;
	margin-left: auto;
	margin-right: auto;
	min-width: 100%;
}

table.diff tbody th {
	background: $gray-lighter;
	border: 1px solid $gray;
	color: $gray-dark;
}

table.diff tbody tr {
	height: 25px;
}

table.diff thead {
	border-bottom: 1px solid $gray;
	background: $gray-light;
}

table.diff .empty {
	background-color: $gray-lighter;
}
table.diff .replace {
	background-color: lighten($hpi-yellow, 40%);
}
table.diff .delete {
	background-color: lighten($hpi-red, 50%);
}
table.diff .skip {
	background-color: $gray-lighter;
	border: 1px solid $gray;
	border-right: 1px solid $gray;
}
table.diff .insert {
	background-color: lighten($green, 50%);
}
table.diff th.author {
	display: none;
	border-top: 1px solid $gray-lighter;
	background: $white
}
