{% extends 'base_without_sidebar.html' %}

{% load i18n %}
{% load guardian_tags %}
{% load bootstrap3 %}

{% block title %}
	{% if form.instance.pk %}
		{% trans "Edit menu item" %}
	{% else %}
		{% trans "Create menu item" %}
	{% endif %}
{% endblock %}

{% block content %}
	<form method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
		{% bootstrap_form form layout='horizontal' %}
		{% csrf_token %}
		{% buttons %}
			<div class="col-md-offset-2 col-md-9">
				<button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
				{% if form.instance.pk %}
					<button type="button" data-toggle="modal" data-target="#confirmMenuItemDeleteModal" class="delete-attachment btn btn-danger">{% trans "Delete" %}</button>
				{% endif %}
			</div>
		{% endbuttons %}
	</form>

	{% if form.instance.pk %}
		<div class="modal fade" id="confirmMenuItemDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">{% trans "Delete menu item" %}</h4>
					</div>
					<div class="modal-body">
						{% trans "Do you really want to delete this menu item?" %}
					</div>
					<div class="modal-footer">
						<a type="button" class="btn btn-danger" href="{% url 'menu_item_delete' form.instance.pk %}">{% trans 'Delete' %}</a>
						<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
		$(document).ready(function() {
			$("#id_document,#id_parent,#id_menu_type").select2({
				language: "{{ LANGUAGE_CODE }}",
				placeholder: "{% trans "Please select..." %}",
				minimumResultsForSearch: 3
			});
		});
	</script>
{% endblock %}
