{% load i18n %}
{% load morefilters %}

<dl class="meta-information">
	<dt>{% trans "Date" %}</dt>
	<dd>{{ document.date|date:"d.m.Y" }}</dd>
	{% if document.moderator %}
		<dt>{% trans "Moderator" %}</dt>
		<dd>{{ document.moderator }}</dd>
	{% endif %}
	<dt>{% trans "Minutes taker" %}</dt>
	<dd>{{ document.author }}</dd>
	<dt>{% trans "Participants" %}</dt>
	{% for participant in document.participants.all|sort_users_by_name %}
		<dd>{{ participant }}</dd>
	{% endfor %}
	<dt>{% trans "Guests" %}</dt>
	{% for guest in document.guests.all %}
		<dd>{{ guest.name }}</dd>
	{% empty %}
		<dd><i>{% trans "No Guests" %}</i></dd>
	{% endfor %}

	<dt class="hidden-print">{% trans "Labels" %}</dt>
	<dd class="hidden-print">
		{% for label in document.labels.all %}
			<span class="label {{ label.class_for_text_color }}" style="background-color: {{ label.color }};">{{ label.title }}</span>
		{% endfor %}
		{% if document.state == document.UNPUBLISHED %}
			<span class="label label-danger">{% trans "Unpublished" %}</span>
		{% elif  document.state == document.INTERNAL %}
			<span class="label label-warning">{% trans "Internal" %}</span>
		{% elif document.labels.all|length == 0 %}
			<i>{% trans "No Labels" %}</i>
		{% endif %}
	</dd>
	<dt class="hidden-print">{% trans "Last change" %}</dt>
	<dd class="hidden-print">{{ document.last_change|date:"d.m.Y, H:i" }}</dd>
</dl>
