{% extends 'base_with_sidebar.html' %}
{% load i18n %}

{% block title %}
	{% blocktrans count counter=2 %}Minutes{% plural %}Minutes{% endblocktrans %}
{% endblock %}

{% block sidebar %}
	<div class="toc hidden-print">
		<ul>
			{% for year, minutes in minutes_list %}
				<li><a href="#year{{ year }}">{{ year }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}

{% block content %}
	{% for year, minutes in minutes_list %}
		<h3 id="year{{ year }}">{{ year }}</h3>
		<table class="table table-striped">
			{% for minute in minutes %}
				<tr>
					<td style="width: 15%;">
						<a href="{{ minute.get_view_url }}">{{ minute.date | date:"d.m.Y" }}</a>
					</td>
					{% if own_group %}
						<td style="width: 10%; text-align: center; font-weight: lighter;">
							{% if minute.state == minute.UNPUBLISHED %}
								<span class="text-red" data-toggle="tooltip" data-placement="top" data-container="body" title="{% trans 'Unpublished' %}"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span></span>
							{% elif minute.state == minute.INTERNAL %}
								<span class="text-yellow" data-toggle="tooltip" data-placement="top" data-container="body" title="{% trans 'Internal' %}"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
							{% elif minute.state == minute.PUBLISHED %}
								<span class="text-gray" data-toggle="tooltip" data-placement="top" data-container="body" title="{% trans 'Published for Students and University Network' %}"><span class="glyphicon glyphicon-education" aria-hidden="true"></span><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
							{% elif minute.state == minute.PUBLISHED_STUDENT %}
								<span class="text-gray" data-toggle="tooltip" data-placement="top" data-container="body" title="{% trans 'Published for Students' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
							{% elif minute.state == minute.CUSTOM %}
								<span class="text-gray" data-toggle="tooltip" data-placement="top" data-container="body" title="{% trans 'Custom Permissions' %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></span>
							{% endif %}
						</td>
					{% endif %}
					<td style="width: 15%;">
						{% for label in minute.labels.all %}
							<span class="label {{ label.class_for_text_color }}" style="background-color: {{ label.color }};">{{ label.title }}</span>
						{% endfor %}
					</td>
					<td style="width: 55%;">
						<a href="{{ minute.get_view_url }}">{{ minute.title }}</a>
					</td>
					<td style="width: 5%; text-align: center;">
						{% if minute.attachments.count > 0 %}
							<span class="text-gray" data-toggle="tooltip" data-placement="left" data-container="body" title="{{ minute.attachments.all|join:', ' }}">
								<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
							</span>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endfor %}
{% endblock %}
