@import "admin.less";

@import "variables.less";
@import "../bootstrap/less/mixins.less";
@import "../bootstrap-markdown/less/bootstrap-markdown.less";

// Fix bootstrap:
.modal-dialog {
	z-index: @zindex-modal-background + 1;
}
.table-striped > tbody > tr:nth-of-type(even) {
	background-color: @table-bg-accent-even;
}
// End fix.

// Fix jsdifflib line wrapping:
table.diff {
	word-break: break-all;
}
// End fix.

html {
	height: 100%;
}
body {
	height: 100%;
	background-color: lighten(@hpi-yellow, 45%);
}

div#wrapper {
	position: relative;
	min-height: 100%;
	padding: 0 0 @footer-height 0;
	background-color: @white;
}

.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}
.navbar-brand > img, .navbar-toggle-brand > img {
	height: 50px;
	width: 78px;
	padding: 10px 15px 10px 15px;
}
.navbar-toggle-brand {
	height: 50px;
	width: 78px;
	float: left;
	border: 0;
	padding: 0;
}
.navbar-toggle-brand.navbar-toggle:hover,
.navbar-toggle-brand.navbar-toggle:focus {
	background-color: @gray;
}
.navbar {
	margin: 0px;
	border: 0px;
	font-size: 16px;
}
@media (min-width: 768px) {
	ul.nav {
		width: 750px;
	}
}
@media (min-width: 992px) {
	ul.nav {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	ul.nav {
		width: 1170px;
	}
}
.nav > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-nav > li > a.navbar-brand {
	padding: 0;
}
.navbar-right {
	margin-right: 0;
}
.brand > a {
	height: 50px;
}

.header-line {
	height: 5px;
	background-color: @gray-dark;
}
.footer-line {
	height: 3px;
	background-color: @gray-dark;
}
.gradient {
	#gradient.horizontal-three-colors(@hpi-red, @hpi-orange, 50%, @hpi-yellow);
}
.gradient.gradient-inv {
	#gradient.horizontal-three-colors(@hpi-yellow, @hpi-orange, 50%, @hpi-red);
}

.navbar-collapse-menu {
	display: none;
}
.navbar-collapse-menu li.active > a {
	color: @hpi-yellow;
}
.navbar-collapse-menu li.disabled > a {
	color: @gray;
	text-decoration: none;
}
.navbar-collapse-menu a {
	color: @gray-lighter;
}
.navbar-collapse-menu ul {
	color: @gray-lighter;
	margin: 0;
	list-style-type: none;
}

.navbar-default .navbar-nav > li {
	&:hover,
	&:focus {
		background-color: @gray;
	}
}
.dropdown-menu > li > a {
	color: @navbar-default-link-color;
	&:hover,
	&:focus {
		color: @navbar-default-link-color;
		background-color: @gray-dark;
	}
}
.dropdown-menu > li.active > a {
	color: @navbar-default-link-active-color;
	&:hover,
	&:focus {
		color: @navbar-default-link-active-color;
		background-color: @gray-dark;
	}
}
.dropdown-menu {
	background-color: @gray;
	border: 0px;
	min-width: auto;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.dropdown:hover .dropdown-menu {
	display: block;
}

.caret-right {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-left: 4px dashed;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.dropdown-menu .sub-menu {
	left: 100%;
	position: absolute;
	top: 0;
	visibility: hidden;
	margin-top: -5px;
}
.dropdown-menu li:hover .sub-menu {
	visibility: visible;
}


.container.content {
	margin-bottom: 30px;
}

.headline {
	margin: 10px 0;
}
.headline-text {
	font-size: 26px;
	dominant-baseline: central;
}
.headline-bar {
	fill: @hpi-yellow;
}
.headline-bar-shadow {
	fill: @hpi-gray;
}

.messages {
	margin-top: 10px;
}
.messages .alert {
	margin: 0;
}
.alert-dismissable .close {
	color: @gray-darker;
}

.alert-margin-bottom {
	margin-bottom: 10px;
}

.bright-text {
	color: @gray-lighter;
}

.dark-text {
	color: @gray-darker;
}

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: @footer-height + 6px;
	background-color: @gray-dark;
	color: @gray-lighter;
	ul, span {
		margin: 10px 0 0px 0;
		padding-left: 0;
	}
	li {
		display: inline-block;
		&:before {
			content: "\22c5\00a0";
			padding: 0 5px;
			color: @gray-light;
		}
		&:first-child:before {
			content: "";
			padding: 0;
		}
	}
	a {
		color: @hpi-yellow;
	}
}

.divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: @gray-light;
}

.content img {
	max-width: 100%;
}

.sidebar {
	border-left: 1px solid @gray-light;
	padding-right: @grid-gutter-width * (2/3);
}

.btn-sidebar {
	width: 100%;
	margin-top: 3px;
	margin-bottom: 3px;
}

.main-container {
	box-shadow: 0 0 7px 2px @gray;
}

.diffview {
	margin-bottom: 10px;
}

table.table-narrow {
	max-width: 400px;
}
table.vertically-aligned tr td {
	vertical-align: middle;
}

.toc ul {
	padding-left: 10px;
}
.toc ul:first-child{
	padding-left: 0;
}
.toc li {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.sidebar dl {
	margin-bottom: 0;
}

.sidebar dt:not(:first-child) {
  margin-top: 8px;
}

.toc-heading {
	font-weight: bold;
}

.md-editor {
	border-radius: @input-border-radius;
}

.has-error .md-editor {
	border-color: @state-danger-text;
	.box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
}

.has-error .md-editor.active {
	border-color: darken(@state-danger-text, 10%);
	@shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten(@state-danger-text, 20%);
	.box-shadow(@shadow);
}

.md-editor textarea {
	padding: @padding-base-vertical @padding-base-horizontal;
	border-bottom: none;
	border-top-style: solid;
}

.md-editor .md-controls .md-control {
	color: @gray-dark;
	&:hover {
		color: @gray;
	}
}

.input-group[class*="inlineformset"] {
	padding-left:  (@grid-gutter-width / 2);
	padding-right: (@grid-gutter-width / 2);
}

.sorthandle {
	width: 10px;
	cursor:move;
}

.ontop {
	z-index: 99999;
}

table.diff tbody th {
	padding-left: 0 !important;
}
table.diff > thead th:nth-of-type(1) { width: 5%; }
table.diff > thead th:nth-of-type(2) { width: 45%; }
table.diff > thead th:nth-of-type(3) { width: 5%; }
table.diff > thead th:nth-of-type(4) { width: 45%; }

.alert.alert-warning {
	color: @gray-darker;
}
