@import "variables.less";

ul.email-tree {
  list-style: none;
  
  &, ul {
    list-style: none;
  }

  padding-left: 0;
  ul {
    padding-left: 2.5rem;
  }

  & > li {
    padding: 0.75rem;
    transition: background-color .05s ease-in;

    border-bottom: 1px solid @gray;
    &:first-child {
      border-top: 1px solid @gray;
    }
    &:hover {
      background-color: @gray-lighter;
    }
  }
}
