{% extends 'base_without_sidebar.html' %}

{% load i18n %}
{% load filename %}
{% load bootstrap4 %}

{% block title %}
	{% trans "Shortlinks" %}
{% endblock %}

{% block content %}
	<table id="shortlinks-table" class="table table-striped vertically-aligned">
		<thead>
			<tr>
				<th class="col-xs-2">{% trans "URL" %}</th>
				<th class="col-xs-3">{% trans "Link" %}</th>
				<th class="col-xs-2">{% trans "Created" %}</th>
				<th class="col-xs-1">{% trans "Visitors" %}</th>
				<th class="col-xs-2">{% trans "Last access" %}</th>
				<th class="col-xs-2"></th>
			</tr>
		</thead>
		{% for shortlink in shortlinks %}
			<tr>
				<td>
					<input type="hidden" class="shortlinkinput" name="shortlink" value="{{ shortlink.id }}">
					<span class="shortlink-urltitle">{{ shortlink.url_title }}</span>
					<input type="text" class="shortlink-full-url out-of-display" name="shortlink-full-url" value="{{ page_url }}/{{ shortlink.url_title }}">
					<div class="btn btn-sm btn-default shortlink-copy pull-right">
						<span class="fa fa-copy"></span>
					</div>
				</td>
				<td>
					{% if shortlink.link %} {{ shortlink.link }}{% endif %}
					{% if shortlink.document %}(<i>{% trans "Document" %}:</i> {{ shortlink.document }}){% endif %}
				</td>
				<td>{{ shortlink.created|date:"d.m.Y, H:i" }}</td>
				<td>{{ shortlink.visit_count }}</td>
				<td>{{ shortlink.last_access|date:"d.m.Y, H:i" }}</td>
				<td>
					<a type="button" class="btn btn-sm btn-default" href="{% url 'edit' shortlink.url_title %}"><span class="fa fa-pencil" aria-hidden="true"></span></a>
					<a type="button" class="delete-shortlink btn btn-sm btn-danger" data-urltitle="{{ shortlink.url_title }}" data-toggle="modal" data-target="#confirmShortlinkDeleteModal">
						<span class="fa fa-remove" aria-hidden="true"></span>
					</a>
				</td>
			</tr>
		{% endfor %}
	</table>

	<a type="button" class="btn btn-primary" href="{% url 'shortlink_create' %}">{% trans 'Create new shortlink' %}</a>

	<div class="modal fade" id="confirmShortlinkDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-title">{% trans "Please Confirm" %}</div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{% blocktrans with name='<strong id="shortlink-url"></strong>' %}Do you really want to delete the Shortlink {{ name }}?{% endblocktrans %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="accept-delete">{% trans "Yes" %}</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "No" %}</button>
				</div>
			</div>
		</div>
	</div>

	<script>
		$('#confirmShortlinkDeleteModal').on('show.bs.modal', function (event){
			var button = $(event.relatedTarget);
			var input = button.closest('tr').find('input.shortlinkinput');
			$('#shortlink-url').text(button.data('urltitle'));
			var deleteButton = $('#accept-delete');
			deleteButton.off('click');
			deleteButton.on('click', function (event){
				$.post("{% url "shortlink_delete" %}", {'id': input.attr('value')}, function (data, textStatus, jqXHR) {
					location.reload();
				});
			});
		});

		var shortlinkURLButton = $('.shortlink-copy');

		shortlinkURLButton.popover({
			content: '{% trans "Copied to clipboard." %}',
			placement: 'top',
			trigger: 'focus'
		});

		shortlinkURLButton.on('click', function (event) {
			var urlHolder = $(this).parent().find("input.shortlink-full-url")[0];
			urlHolder.select();
			document.execCommand('copy');

			// show a confirmation to the user that dissappears automatically
			$(this).popover('show');
			var that = this;
			setTimeout(function () {
				$(that).popover('hide');
			}, 1500);
			event.preventDefault();
		});
	</script>
{% endblock %}
