{% extends "base_without_sidebar.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}
	{% trans "Delete list" %}
{% endblock %}

{% block breadcrumbs %}
	<li><span class="fa fa-angle-right" aria-hidden="true"></span>&nbsp;<a href="{% url "tenca_django:tenca_dashboard" %}">{% trans "Mailing lists" %}</a></li>
	<li><span class="fa fa-angle-right" aria-hidden="true"></span>&nbsp;{% trans "Delete list" %}</li>
{% endblock %}

{% block content %}
	<p>{% blocktrans %}
		Are you sure you want to delete the list {{ listname }}?
	{% endblocktrans %}</p>
	<form method="post">
		{% csrf_token %}
		{% buttons %}
			<button type="submit" name="confirm" class="btn btn-danger">{% trans "Delete" %}</button>
			<a class="btn btn-secondary" href="{% url "tenca_django:tenca_manage_list" mailing_list.list_id %}">{% trans "Cancel" %}</a>
		{% endbuttons %}
	</form>
{% endblock %}
