{% load static %}
{% load i18n %}
{% load compile_static %}

{# if you want to reuse this template you need to provide the following data: #}
{# a tuple looking as follows: (number_of_version, version of the document, text_to_diff) #}

<link rel="stylesheet" href="{% static 'less/diffview.less'|compile %}" />

<h2>{% trans "Diff page versions" %}</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th colspan="2">Revision</th>
			<th colspan="2">Compare</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for id, version in versions %}
		<tr>
			<td>{{ id }}</td>
			<td>{{ version.revision.date_created }}, {{ version.revision.comment }} by {{ version.revision.user }}</td>
			<td><input type="radio" class="version-control" name="compare-a" value="{{ id }}"></td>
			<td><input type="radio" class="version-control" name="compare-b" value="{{ id }}"></td>
			<td>
				{% if not forloop.last %}
					<button type="button" class="btn btn-primary version-revert-button" data-toggle="modal" data-target="#confirmation-modal" data-revision-id="{{ version.pk }}" data-revision-name="{{ version.revision.date_created }}, {{ version.revision.comment }} by {{ version.revision.user }}">{% trans "Revert to this version" %}</button>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<div class="row">
	<div class="col-sm-12 diffview" id="diffDisplay"></div>
</div>
