{% load coffeescript %}
{% load i18n %}
{% load static %}

<div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="confirmation-title" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
				<h4 class="modal-title" id="confirmation-title">{% trans "Do you really want to revert to this version?" %}</h4>
			</div>
			<div class="modal-body">
				<strong>{% trans "Version you want to revert to:" %}</strong> <span id="version-to-revert-display"></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" id="revert-button">{% trans "Revert" %}</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="{% static 'js/difflib.js' %}"></script>
<script type="text/javascript" src="{% static 'js/diffview.js' %}"></script>
<script>
	{% inlinecoffeescript %}
		versions = [];
		{% for id, version, text in versions %}
		versions.push([{{ version.pk }}, "{{ text }}"])
		{% endfor %}

		versionIDToRevert = null;
		$('.version-revert-button').on 'click', (event) ->
			button = $(event.target)
			versionIDToRevert = button.data 'revision-id'
			$('#version-to-revert-display').text button.data 'revision-name'

		$('#revert-button').on 'click', (event) ->
			# tell the server to revert the version of the current document to the selected version
			data =
				id: versionIDToRevert
				url_title: '{{ document.url_title }}'
			$.post '{% url "documents:revert" %}', data, (data, textStatus, jqXHR) ->
				location.reload()
			.fail (error) ->
				console.log(error)
				alert('{% trans "An error occurred. The revision could not be reverted." %}')
				$('#confirmation-modal').modal 'toggle'

		$('.version-control').change (event) ->
			createDiff()

		# Select the last and second to last revision.
		$($('input[name="compare-a"]').get(-2)).attr('checked', true)
		$('input[name="compare-b"]').last().attr('checked', true)

		createDiff = ->
			# Get the versions in the correct format.
			versionA = difflib.stringAsLines(versions[$('input[name="compare-a"]:checked').val()][1])
			versionB = difflib.stringAsLines(versions[$('input[name="compare-b"]:checked').val()][1])

			# Clear the diff view.
			display = $ '#diffDisplay'
			display.empty()

			# Create the diff.
			sequenceMatcher = new difflib.SequenceMatcher(versionA, versionB)
			opcodes = sequenceMatcher.get_opcodes()

			# Show it to the user.
			display.append diffview.buildView
				baseTextLines: versionA
				newTextLines: versionB
				opcodes: opcodes
				baseTextName: "{% trans "Version A" %}"
				newTextName: "{% trans "Version B" %}"
				viewType: 0

		createDiff()
	{% endinlinecoffeescript %}
</script>
