{% extends 'documents_base.html' %}

{% load static %}
{% load i18n %}
{% load bootstrap3 %}
{% load num_revisions %}

{% block document_content %}
	<h2>{% trans "Edit page" %}</h2>

	{% for autosave in form.autosaves %}
		<div class="alert alert-danger alert-margin-bottom" role="alert">{% blocktrans with date=autosave.created %}This document was autosaved on {{ date }}{% endblocktrans %}, {% trans "you can restore unsaved changes:" %} <a href="{{ document.get_edit_url }}?restore={{ autosave.id }}" class="btn-sm btn-default">{% trans "Restore" %}</a></div>
	{% endfor %}

	{% for new_autosaved_page in new_autosaved_pages %}
		<div class="alert alert-danger alert-margin-bottom" role="alert">{% blocktrans with date=new_autosaved_page.created %}There is a new document autosaved on {{ date }}{% endblocktrans %}, {% trans "you can restore this unsaved page:" %} <a href="{{ new_autosaved_page.document.get_edit_url }}?restore={{ new_autosaved_page.id }}" class="btn-sm btn-default">{% trans "Restore" %}</a></div>
	{%  endfor %}

<form action="{{ document.get_edit_url }}" method="post" class="form-horizontal" role="form" id="document-form">
	{% bootstrap_form form layout='horizontal' %}
	{% csrf_token %}
	{% block inlineformset %}{% endblock %}
	{% buttons %}
	<div class="col-md-offset-2 col-md-9">
		<button type="submit" class="btn btn-primary">
			{% trans 'Save' %}
		</button>
		{% if document|num_revisions > 0 %}
			<button type="button" class="btn btn-danger" id="deleteDocumentButton">
				{% trans 'Delete' %}
			</button>
		{% endif %}
	</div>
	{% endbuttons %}
</form>

	<h2>{% trans "Preview" %} <a id="shareText" class="hidden">Share</a></h2>
	<div class="divider"></div>
	<div id="text-preview"></div>

	<div class="modal fade ontop" id="selectImageAttachment" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<div class="modal-title">{% trans "Select Image:" %}</div>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger hidden" id="image-upload-error-display" role="alert">
						{% trans "Error! Could not upload image." %}
					</div>
					<select class="form-control" id="attachmentModalSelect"></select>
					<div class="divider"></div>
					<h2>{% trans "Preview" %}</h2>
					<div class="preview">
						<img id="attachment-preview" style="width: 100%; height: 100%;" />
					</div>
					<div class="hidden" id="image-upload-area">
						<h2>{% trans "Upload new image" %}</h2>
						<div class="divider"></div>
						<form enctype="multipart/form-data" id="image-upload-form" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
							{% bootstrap_form attachment_form layout='horizontal' %}
							{% csrf_token %}
							{% buttons %}
								<div class="col-md-offset-2 col-md-9">
									<button type="submit" class="btn btn-primary">
										{% trans 'Add Image' %}
									</button>
								</div>
							{% endbuttons %}
						</form>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-info" id="addImage">{% trans "Add new Image" %}</button>
					<button type="button" class="btn btn-primary" id="setImage">{% trans "OK" %}</button>
				</div>
			</div>
		</div>
	</div>

	{% if document|num_revisions > 0 %}
		<div class="modal fade ontop" id="deleteDocumentModal" tabindex="-1" role="dialog" aria-labelledby="deleteDocumentHeader">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="deleteDocumentHeader">{% trans "Do you really want to delete this document?" %}</h4>
					</div>
					<div class="modal-body">
						<p>{% trans "If you delete this document you will also delete the following database items:" %}</p>
						<div id="documentDeleteCascadeInfo"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" id="deleteDocumentConfirmationButton">{% trans "Delete" %}</button>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

<div class="modal fade ontop" id="selectInternalLinkDestination" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="modal-title">{% trans "Select link target" %}</div>
			</div>
			<div class="modal-body">
				<select class="form-control" id="selectInternalLinkModal"></select>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="setInternalLinkDestination">{% trans "OK" %}</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade ontop" id="autosaveErrorDialog" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="modal-title">{% trans "Autosave failed" %}</div>
			</div>
			<div class="modal-body">
                <span class="autosaveErrorDialogExplanation"></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary autosaveErrorDialogClose">{% trans "Close" %}</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- mandatory script include -->
<script type="text/javascript" src="{% static 'js/jquery.hotkeys.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-markdown/js/bootstrap-markdown.js' %}"></script>
<script>
	var efficient_render = debounce(function render() {
		$.ajax({
			url: "{% url 'documents:render' document.url_title %}",
			type: "post",
			data: {'text': $('#id_text').val()},
			success: function(data, status, jqxhr) {
				$('#text-preview').html(data);
			}
		});
	}, 1000);

	function addImageToText(editor, attachmentHash, modal) {
		var chunk = "![Image Alt]({% url 'documents:download_attachment' %}?hash_value=" + attachmentHash + "&embed=True)";
		editor.replaceSelection(chunk);
		var cursor = editor.getSelection();

		editor.setSelection(cursor, cursor + chunk.length);
		modal.modal('hide');
		$('#id_text').trigger('change');
	}

	$("#id_text").removeClass('form-control').markdown({
		autofocus:true,
		resize:"both",
		hiddenButtons: ["cmdPreview", "cmdImage"],
		onChange: efficient_render,
		onShow: function(e) {
			this.onChange(e);
		},
		additionalButtons: [
			// exchange the old image button by a new button
			[{
				name: "ImageGroup",
				data: [{
					name: "cmdAddImage",
					toggle: false,
					title: "Add Image",
					icon: "glyphicon glyphicon-picture",
					callback: function (e) {
						// get all attachments
						$.getJSON(
							"{% url "documents:get_attachments" document.id %}",
							{},
							function (data, textStatus, jqXHR) {
								// prepare the select in the modal
								var select = $('#attachmentModalSelect');
								if ($.isEmptyObject(data)) {
									// if there are no pictures disable the select
									select.attr('disabled', 'disabled');
									return;
								} else {
									select.attr('disabled', false);
								}
								var options = select.prop('options');
								$('option', select).remove();
								$.each(data, function (val, text) {
									options[options.length] = new Option(text, val);
								});
								// trigger the change event in order to show the preview of the pre selected
								// image
								select.trigger('change');
						});

						var modalItem = $('#selectImageAttachment');
						modalItem.modal();
						modalItem.on('hide.bs.modal', function () {
							$('#image-upload-area').addClass('hidden');
							$('#image-upload-error-display').addClass('hidden');
						});

						// set the click handler on the ok button that adds the image to the text
						// and closes the modal
						var setButton = $('#setImage');
						setButton.off('click');
						setButton.on("click", function (event) {
							var select = $('#attachmentModalSelect');
							if (select.attr('disabled')) {
								modalItem.modal('hide');
								return;
							}
							// find the right spot to insert the text and create the correct markdown
							var attachmentHash = select.val();
							addImageToText(e, attachmentHash, modalItem)

						});

						// enable image uploading
						var imageUploadForm = $('#image-upload-form');
						imageUploadForm.off('submit');
						imageUploadForm.on('submit', function (event) {
							event.preventDefault();

							var filename = $(this).find('input[name=file]').val();

							// determine whether selected file might be an image
							var file_type_is_ok = false;
							{% for image_type in supported_image_types %}
								if (filename.toLowerCase().endsWith('{{ image_type }}')) {
									file_type_is_ok = true;
								}
							{% endfor %}

							if (!file_type_is_ok) {
								$('#image-upload-error-display').removeClass('hidden');
								return;
							}

							var formData = new FormData(this);
							formData.append("document", {{ document.id }});

							$.ajax({
								url: "{% url 'documents:create_attachment' %}",
								data: formData,
								processData: false,
								contentType: false,
								type: 'POST',
								success: function (data) {
									addImageToText(e, data, modalItem);
								},
								error: function () {
									$('#image-upload-error-display').removeClass('hidden');
								}
							});
						});
					}
				}]
			},

			{
				name: "InternalGroup",
				data: [{
					name: "cmdAddInternalLink",
					toggle: false,
					title: "Add internal link",
					icon: "glyphicon glyphicon-circle-arrow-right",
					callback: function (e) {

						var modalItem = $('#selectInternalLinkDestination');
						modalItem.modal();

						// set the click handler on the ok button that adds the markdown to the text
						// and closes the modal
						var setButton = $('#setInternalLinkDestination');
						setButton.off('click');
						setButton.on("click", function (event) {
							modalItem.modal('hide');
							// find the right spot to insert the text and create the correct markdown
							var markdown = $('#selectInternalLinkModal').val();
							if (markdown !== null) {
								linkText = markdown.match(/\[(.*?)\]/)[1]; // we want the text inside the [ ]
								selected = e.getSelection();
								e.replaceSelection(markdown);
								cursor = selected.start;
								e.setSelection(cursor + 1, cursor + linkText.length + 1); // +1 because we do not want to select the starting [
								if(selected.length > 0) { // if there was selected text, we want to use this a link text
									e.replaceSelection(selected.text);
									e.setSelection(cursor + 1, cursor + selected.length + 1);
								}
								$("#id_text").focus();
							}
						});
					}
				}]
			}]
		]
	});

	// handler to update the preview in the modal
	$('#attachmentModalSelect').on('change', function (event) {
		var attachmentHash = $(this).val();
		$('#attachment-preview').attr('src', "{% url 'documents:download_attachment' %}?hash_value=" + attachmentHash + "&embed=True");
	});

	$('#addImage').on('click', function (event) {
		$('#image-upload-area').removeClass('hidden');
	});

	{% if document|num_revisions > 0 %}
		function createCascadeList(cascade, domObject) {
			for(var i = 0; i < cascade.length; i++) {
				var cascadeItem = cascade[i];
				if (cascadeItem.constructor === Array) {
					var sublist = $('<ul>');
					createCascadeList(cascadeItem, sublist);
					domObject.append(sublist);
				}
				else {
					domObject.append($('<li></li>').text(cascadeItem.type + ": " + cascadeItem.name));
				}
			}
		}

		var deleteDocumentModal = $('#deleteDocumentModal');
		deleteDocumentModal.modal({
			show: false
		});

		$('#deleteDocumentButton').on('click', function (event) {
			$.getJSON(
				"{% url "documents:get_delete_cascade" document.url_title %}",
				{},
				function (data, textStatus, jqXHR) {
					deleteDocumentModal.modal('show');
					// prepare the select in the modal
					var cascadeInfo = $('#documentDeleteCascadeInfo');

					// delete old content
					cascadeInfo.children().each(function (index, element) {
						element.remove();
					});

					// create new content by traversing provided data
					var cascadeList = $('<ul>');
					createCascadeList(data, cascadeList);
					cascadeInfo.append(cascadeList);
				});
		});

		$("#deleteDocumentConfirmationButton").on('click', function (event) {
			$.post(
				"{% url "documents:delete_document" document.url_title %}",
				{},
				function (data, textStatus, jqXHR) {
					deleteDocumentModal.modal('hide');
					window.location.replace("/");
				}
			);
		});
	{% endif %}

	var text = $('#id_text').val();
	function save() {
		if(text != $('#id_text').val()) {
			text = $('#id_text').val();

			var form = $('#document-form');
			var serializedData = form.serialize();

			$.ajax({
				url: "{% url 'documents:autosave' document.url_title %}",
				type: "post",
				data: serializedData,
				success: function(data, textStatus, jqXHR) {
					data = JSON.parse(data);
					var url = data.preview_url;
					var destinationElement = $('#shareText');
					destinationElement.attr('href', url);
					destinationElement.removeClass('hidden');
				},
				error: function(jqXHR, textStatus, errorThrown) {
                    var reasonDisplay = $('.autosaveErrorDialogExplanation');
                    var statusCode = jqXHR.status;
                    var reason = "";
                    switch (statusCode) {
                        case 403:
                            reason = "{% trans "Probably you are logged out!" %}";
                            break;
                        case 404:
                            reason = "{% trans "The document you are editing does not exist!" %}";
                            break;
                        default:
                            reason = "{% trans "There was an unknown error!" %}";
                            break;
                    }
                    reasonDisplay.html(reason);

                    var errorDisplay = $('#autosaveErrorDialog');
                    errorDisplay.modal();
                    $('.autosaveErrorDialogClose').on('click', function() {
                        errorDisplay.modal('hide');
                    });
                }
			});
		}
		setTimeout(function() { save(); }, 10000);
	}
	save();

	// Activate Select2 if present on page
    $(".select2-selection").select2({
        language: "{{ LANGUAGE_CODE }}",
        placeholder: "{% trans 'Please select...' %}"
    });

	$(".select2-selection-clearable").select2({
		language: "{{ LANGUAGE_CODE }}",
		placeholder: "{% trans 'Please select...' %}",
		allowClear: true
	});

	$("#selectInternalLinkModal").select2({
		language: "{{ LANGUAGE_CODE }}",
		placeholder: "{% trans 'Please select...' %}",
		ajax: {
			url: '/documents/search',
			delay: 250,
			dataType: 'json'
		},
		minimumInputLength: 1
	});

	{% block additional_scripts %}{% endblock %}

	// add datepicker to date inputs
	$("input[name*='date']:not([readonly='True'])").datepicker( $.datepicker.regional["{{ LANGUAGE_CODE }}"] );
	</script>
{% endblock %}
