{% extends view_page|yesno:"base_with_sidebar.html,base_with_sidebar_narrow.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load document_perms %}
{% load morefilters %}

{% block title %}
	{{ document.title }}
{% endblock %}

{% block sidebar %}
	{{ document.meta_information_html }}
	<div class="divider hidden-print"></div>
	{% block document_nav %}
		{% if permission_overview %}
			<div role="tablist" class="hidden-print">
				<a class="btn btn-sm btn-sidebar {% if active_page == 'view' %}btn-warning{% else %}btn-default{% endif %}" href="{% url document.get_view_url_name document.url_title %}" role="tab">{% trans "View" %}</a>
				<a class="btn btn-sm btn-sidebar {% if active_page == 'edit' %}btn-warning{% else %}btn-default{% endif %}" href="{% url document.get_edit_url_name document.url_title %}" role="tab">{% trans "Edit" %}</a>
				<a class="btn btn-sm btn-sidebar {% if active_page == 'attachments' %}btn-warning{% else %}btn-default{% endif %}" href="{% url document.get_attachments_url_name document.url_title %}" role="tab">{% trans "Attachments" %}</a>
				<a class="btn btn-sm btn-sidebar {% if active_page == 'versions' %}btn-warning{% else %}btn-default{% endif %}" href="{% url document.get_versions_url_name document.url_title %}" role="tab">{% trans "Versions" %}</a>
			</div>
			<div class="divider"></div>
			{% if document.show_permissions_editor %}<a class="btn btn-sm btn-sidebar {% if active_page == 'permissions' %}btn-warning{% else %}btn-default{% endif %}" href="{% url document.get_permissions_url_name document.url_title %}" role="tab">{% trans "Permissions" %}</a>{% endif %}
			{% if document.show_publish_button %}
				<div class="btn-group btn-sidebar">
					<a class="btn btn-sm btn-default col-xs-9" href="{% url document.get_publish_url_name document.url_title 1 %}" role="tab">{% trans "Publish" %}</a>
					<button type="button" class="btn btn-sm btn-default col-xs-3 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a class="default" href="{% url document.get_publish_url_name document.url_title 1 %}">{% trans "Publish for Students and University Network" %}</a></li>
						<li><a href="{% url document.get_publish_url_name document.url_title 4 %}">{% trans "Publish for Students only" %}</a></li>
					</ul>
				</div>
			{% endif %}
			{% with edit_groups=permission_overview|permission_filter:'edit'|join:', ' view_groups=permission_overview|permission_filter:'view'|join:', '%}
				<div class="permission-icons" data-toggle="tooltip" data-placement="top" data-container="body" data-html="true" title="<b>{% trans 'Edit' %}:</b> {% if edit_groups %}{{ edit_groups }}{% else %}&mdash;{% endif %}</br><b>{% trans 'View' %}:</b> {% if view_groups %}{{ view_groups }}{% else %}&mdash;{% endif %}">
					<span class="glyphicon glyphicon-globe permission-icon-{{ permission_overview.0.1 }}" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-education permission-icon-{{ permission_overview.1.1 }}" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-user permission-icon-{{ permission_overview.2.1 }}" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-briefcase permission-icon-{{ permission_overview.3.1 }}" aria-hidden="true"></span>
					{% if permission_overview|length > 4 %}
						<span class="glyphicon glyphicon-option-horizontal permission-icon-more" aria-hidden="true"></span>
					{% endif %}<br/>
				</div>
			{% endwith %}
			<div class="divider"></div>
		{% endif %}
	{% endblock %}
	{% if "<li>" in toc %}
		<p class="toc-heading">{% trans "Table of Contents" %}</p>
		{{ toc|safe }}
	{% endif %}
	{% if attachments %}
		<div class="toc hidden-print">
			<ul><li><a href="#attachments" title="{% trans "Attachments" %}">{% trans "Attachments" %}</a></li></ul>
		</div>
	{% endif %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	{% for menu_item in main_menu %}
		{% if menu_item.selected and menu_item.document != document %}
			<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>&nbsp;<a href="{{ menu_item.get_url }}">{{ menu_item.title }}</a></li>
			{% for subitem in menu_item.submenu %}
				{% if subitem.selected %}
					<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>&nbsp;{% if subitem.document != document %}<a href="{{ subitem.get_url }}">{% endif %}{{ subitem.title }}{% if subitem.document != document %}</a>{% endif %}</li>
					{% for subsubitem in subitem.submenu %}
						{% if subsubitem.selected %}
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>&nbsp;{{ subsubitem.title }}</li>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}
{% endblock %}

{% block content %}
	{% block document_content %}
		<div>{{ text|safe }}</div>
		{% if attachments %}
			<div class="divider"></div>
			<h2 id="attachments">{% trans "Attachments" %}</h2>
			<ul>
				{% for attachment in attachments %}
					<li>
						<a href="{% url 'documents:download_attachment' %}?hash_value={{ attachment.hash_value }}">{{ attachment.displayname }}</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endblock %}
{% endblock %}


{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
		$(document).ready(function() {
			// add link text to title of all elements in toc to enable tooltips with full text
			$('.toc a').each(function() {
				this.title = this.text;
			});
		});
	</script>
{% endblock %}
