{% extends view_page|yesno:"base_with_sidebar.html,base_with_sidebar_narrow.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load document_perms %}

{% block title %}
	{{ document.title }}
{% endblock %}

{% block sidebar %}
	{{ document.meta_information_html }}
	<div class="divider hidden-print"></div>
	{% block document_nav %}
		{% get_obj_perms request.user for document as "document_perms" %}
		{% if "change" in document_perms %}
			<div role="tablist" class="hidden-print">
				<a class="btn btn-sm btn-sidebar {% if active_page == 'view' %}btn-warning{% else %}btn-default{% endif %}" href="{% url 'documents:view' document.url_title %}" role="tab">{% trans "View" %}</a>
				<a class="btn btn-sm btn-sidebar {% if active_page == 'edit' %}btn-warning{% else %}btn-default{% endif %}" href="{% url 'documents:edit' document.url_title %}" role="tab">{% trans "Edit" %}</a>
				<a class="btn btn-sm btn-sidebar {% if active_page == 'attachments' %}btn-warning{% else %}btn-default{% endif %}" href="{% url 'documents:attachments' document.url_title %}" role="tab">{% trans "Attachments" %}</a>
				{% if document.show_permissions_editor %}<a class="btn btn-sm btn-sidebar {% if active_page == 'permissions' %}btn-warning{% else %}btn-default{% endif %}" href="{% url 'documents:permissions' document.url_title %}" role="tab" {% if permission_warning %}data-toggle="tooltip" data-placement="left" data-container="body" title="{% trans "Anonymous users are not allowed to see this site!" %}" {% endif %}>{% if permission_warning %}<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {% endif %}{% trans "Permissions" %}</a>{% endif %}
				{% if document.show_publish_button %}
					<div class="btn-group btn-sidebar">
					  <a class="btn btn-sm btn-default col-xs-9" href="{% url 'documents:publish' document.url_title 1 %}" role="tab">{% trans "Publish" %}</a>
					  <button type="button" class="btn btn-sm btn-default col-xs-3 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					  </button>
					  <ul class="dropdown-menu dropdown-menu-right">
						<li><a class="default" href="{% url 'documents:publish' document.url_title 1 %}">{% trans "Publish for Students and University Network" %}</a></li>
						<li><a href="{% url 'documents:publish' document.url_title 4 %}">{% trans "Publish for Students only" %}</a></li>
					  </ul>
					</div>
				{% endif %}
				<a class="btn btn-sm btn-sidebar {% if active_page == 'versions' %}btn-warning{% else %}btn-default{% endif %}" href="{% url 'documents:versions' document.url_title %}" role="tab">{% trans "Versions" %}</a>
			</div>
			<div class="divider"></div>
		{% endif %}
	{% endblock %}
	{% if "<li>" in toc %}
		<p class="toc-heading">{% trans "Table of Contents" %}</p>
		{{ toc|safe }}
	{% endif %}
	{% if attachments %}
		<div class="toc hidden-print">
			<ul><li><a href="#attachments" title="{% trans "Attachments" %}">{% trans "Attachments" %}</a></li></ul>
		</div>
	{% endif %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	{% for menu_item in main_menu %}
		{% if menu_item.selected and menu_item.document != document %}
			<ul class="breadcrumbs">
				<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <a href="{{ menu_item.get_url }}">{{ menu_item.title }}</a></li>
				{% for subitem in menu_item.submenu %}
					{% if subitem.selected and subitem.document != document %}
						<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <a href="{{ subitem.get_url }}">{{ subitem.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block content %}
	{% block document_content %}
		<div>{{ text|safe }}</div>
		{% if attachments %}
			<div class="divider"></div>
			<h2 id="attachments">{% trans "Attachments" %}</h2>
			<ul>
				{% for attachment in attachments %}
					<li>
						<a href="{% url 'documents:download_attachment' %}?attachment_id={{ attachment.id }}">{{ attachment.displayname }}</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endblock %}
{% endblock %}


{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
		$(document).ready(function() {
			// add link text to title of all elements in toc to enable tooltips with full text
			$('.toc a').each(function() {
				this.title = this.text;
			});
		});
	</script>
{% endblock %}
