{% extends 'documents_base.html' %}

{% load i18n %}
{% load filename %}
{% load bootstrap3 %}

{% block title %}
	{{ document.title }}
{% endblock %}

{% block document_content %}
	<h2>{% trans "Add attachment" %}</h2>

	<form action="{{ edit_url }}" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
		{% bootstrap_form form layout='horizontal' %}
		{% csrf_token %}
		{% buttons %}
			<div class="col-md-offset-2 col-md-9">
				<button type="submit" class="btn btn-primary">
					{% bootstrap_icon "floppy-disk" %} {% trans 'Save' %}
				</button>
			</div>
		{% endbuttons %}
	</form>

	<h2>{% trans "Uploaded attachments" %}</h2>
	<div class="col-sm-12">
		<table class="table table-striped vertically-aligned">
			<thead>
				<th></th>
				<th>{% trans "Display name" %}</th>
				<th>{% trans "Filename" %}</th>
				<th>{% trans "Created" %}</th>
				<th>
					{% trans "Do not show" %} <span data-toggle="tooltip" data-placement="top" class="glyphicon glyphicon-info-sign" title="{% blocktrans %}Select if attachment is only used as embedded image.{% endblocktrans %}"></span>
				</th>
				<th></th>
			</thead>
			{% for attachment in attachments %}
				<tr data-index="{{ attachment.index }}" data-id="{{ attachment.id }}" class="sortable">
					<td class="sorthandle"><span class="glyphicon glyphicon-move"></span></td>
					<td>
						<input type="hidden" class="attachmentinput" name="file" value="{{ attachment.id }}">
						<a href="{% url 'documents:download_attachment' %}?attachment_id={{ attachment.id }}">{{ attachment.displayname }}</a>
					</td>
					<td>{{ attachment.file.name|filename }}</td>
					<td>{{ attachment.created }}</td>

					<td class="text-center">
						<input class="change-downloadable" type="checkbox" {% if attachment.no_direct_download %}checked{% endif %} name="downloadable">
					</td>
					<td>
						<button type="button" data-displayname="{{ attachment.displayname }}" data-toggle="modal"
								data-target="#confirmAttachmentDeleteModal" class="delete-attachment btn btn-sm btn-warning">
							{% trans "Delete" %}
						</button>
					</td>
				</tr>

			{% endfor %}
		</table>
	</div>

	<div class="modal fade" id="confirmAttachmentDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<div class="modal-title">{% trans "Please Confirm" %}</div>
				</div>
				<div class="modal-body">
					{% blocktrans with name='<strong id="attachment-name"></strong>' %}Do you really want to delete the Attachment {{ name }}?{% endblocktrans %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="accept-delete">{% trans "Yes" %}</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "No" %}</button>
				</div>
			</div>
		</div>
	</div>

	<script>
		$('#confirmAttachmentDeleteModal').on('show.bs.modal', function (event){
			var button = $(event.relatedTarget);
			var input = button.closest('tr').find('input.attachmentinput');
			$('#attachment-name').text(button.data('displayname'));
			var deleteButton = $('#accept-delete');
			deleteButton.off('click');
			deleteButton.on('click', function (event){
				$.post("{% url "documents:delete_attachment" %}", {'id': input.attr('value')}, function (data, textStatus, jqXHR) {
					location.reload()
				});
			});
		});

		$('tbody').sortable({
			items: '.sortable',
			handle: '.sorthandle',
			update: function (event, ui) {
				var rows = ui.item.parent().children();
				var newOrder = {};
				rows.each(function (index, element) {
					element = $(element);
					element.data('index', index);
					newOrder[element.data('id')] = index;
				});
				$.post("{% url "documents:update_attachment_order" %}", newOrder, function (){});
			}
		});

		$('.change-downloadable').on('change', function (event) {
			var tableRow = $(this.closest('tr'));
			var attachmentId = tableRow.data('id');
			var checked = this.checked;
			$.post(
				"{% url 'documents:change_attachment_no_direct_download' %}",
				{id: attachmentId, no_direct_download: checked},
				function () {
					tableRow.effect("highlight", {color: "#69a700"}, 2000);
				}
			).error(function () {
				tableRow.effect("highlight", {color: "#b1063a"}, 2000);
			});

		});

		$('[data-toggle="tooltip"]').tooltip();
	</script>
{% endblock %}