{% extends 'documents_base.html' %}

{% load i18n %}
{% load filename %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
	{{ document.title }}
{% endblock %}

{% block css %}
	{{ block.super }}
	<link href="{% static 'bootstrap-editable/css/bootstrap-editable.css' %}" rel="stylesheet">
{% endblock %}

{% block document_content %}
	<h2>{% trans "Add attachment" %}</h2>

	<form action="{{ edit_url }}" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
		{% bootstrap_form form layout='horizontal' %}
		{% csrf_token %}
		{% buttons %}
			<div class="col-md-offset-2 col-md-9">
				<button type="submit" class="btn btn-primary">
					{% trans 'Save' %}
				</button>
			</div>
		{% endbuttons %}
	</form>

	<h2>{% trans "Uploaded attachments" %}</h2>
	<table id="attachment-table" class="table table-striped vertically-aligned">
		<thead>
			<tr>
				<th></th>
				<th class="col-xs-3">{% trans "Display name" %}</th>
				<th class="col-xs-3">{% trans "Filename" %}</th>
				<th class="col-xs-2">{% trans "Created" %}</th>
				<th class="col-xs-2">
					{% trans "Do not show" %} <span data-toggle="tooltip" data-placement="top" class="glyphicon glyphicon-info-sign" title="{% blocktrans %}Select if attachment is only used as embedded image.{% endblocktrans %}"></span>
				</th>
				<th class="col-xs-1"></th>
				<th></th>
			</tr>
		</thead>
		{% for attachment in attachments %}
			<tr data-index="{{ attachment.index }}" data-id="{{ attachment.id }}" class="sortable">
				<td class="sorthandle"><span class="glyphicon glyphicon-move"></span></td>
				<td>
					<input type="hidden" class="attachmentinput" name="file" value="{{ attachment.id }}">
					<a class="attachment-display-name">{{ attachment.displayname }}</a>
				</td>
				<td>{{ attachment.file.name|filename }}</td>
				<td>{{ attachment.created }}</td>

				<td class="text-center">
					<input class="change-downloadable" type="checkbox" {% if attachment.no_direct_download %}checked{% endif %} name="downloadable">
				</td>
				<td>
					<a data-displayname="{{ attachment.displayname }}" data-toggle="modal"
							data-target="#confirmAttachmentDeleteModal" class="delete-attachment btn btn-sm btn-danger">
						{% trans "Delete" %}
					</a>
				</td>
				<td>
					<a class="btn btn-sm btn-default" href="{% url 'documents:download_attachment' %}?hash_value={{ attachment.hash_value }}"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
				</td>
			</tr>
		{% endfor %}
	</table>

	<div class="modal fade" id="confirmAttachmentDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<div class="modal-title">{% trans "Please Confirm" %}</div>
				</div>
				<div class="modal-body">
					{% blocktrans with name='<strong id="attachment-name"></strong>' %}Do you really want to delete the Attachment {{ name }}?{% endblocktrans %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="accept-delete">{% trans "Yes" %}</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "No" %}</button>
				</div>
			</div>
		</div>
	</div>

	<script src="{% static 'bootstrap-editable/js/bootstrap-editable.js' %}"></script>
	<script>
		$('#confirmAttachmentDeleteModal').on('show.bs.modal', function (event){
			var button = $(event.relatedTarget);
			var input = button.closest('tr').find('input.attachmentinput');
			$('#attachment-name').text(button.data('displayname'));
			var deleteButton = $('#accept-delete');
			deleteButton.off('click');
			deleteButton.on('click', function (event){
				$.post("{% url "documents:delete_attachment" %}", {'id': input.attr('value')}, function (data, textStatus, jqXHR) {
					location.reload()
				});
			});
		});

		$('tbody').sortable({
			items: '.sortable',
			handle: '.sorthandle',
			update: function (event, ui) {
				var rows = ui.item.parent().children();
				var newOrder = {};
				rows.each(function (index, element) {
					element = $(element);
					element.data('index', index);
					newOrder[element.data('id')] = index;
				});
				$.post("{% url "documents:update_attachment_order" %}", newOrder, function (){});
			}
		});

		$('.change-downloadable').on('change', function (event) {
			var tableRow = $(this.closest('tr'));
			var attachmentId = tableRow.data('id');
			var checked = this.checked;
			$.post(
				"{% url 'documents:change_attachment' %}",
				{id: attachmentId, no_direct_download: checked},
				function () {
					tableRow.effect("highlight", {color: "#69a700"}, 2000);
				}
			).error(function () {
				tableRow.effect("highlight", {color: "#b1063a"}, 2000);
			});

		});

		$('.attachment-display-name').editable({
			type: 'text',
			title: 'Change display name',
			mode: 'inline',
			name: 'displayname',
			url: "{% url 'documents:change_attachment' %}",
			send: 'always',
			validate: function (value) {
				if($.trim(value) === '') {
					return "{% trans 'This field is required' %}";
				}
			},
			params: function (params) {
				var tableRow = $(this.closest('tr'));
				params.id = tableRow.data('id');
				params[params.name] = params.value;
				// remove unecessary fields
				delete params.name;
				delete params.value;
				delete params.pk;

				return params;
			},
			success: function (response, newValue) {
				var tableRow = $(this.closest('tr'));
				tableRow.effect("highlight", {color: "#69a700"}, 2000);
				tableRow.find('.delete-attachment').data('displayname', newValue);
			},
			error: function () {
				var tableRow = $(this.closest('tr'));
				tableRow.effect("highlight", {color: "#b1063a"}, 2000);
			}
		});

		$('[data-toggle="tooltip"]').tooltip();
	</script>
{% endblock %}
