{% extends 'documents_base.html' %}
{% load static %}
{% load i18n %}
{% load compile_static %}


{% block title %}
	{{ document.title }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'less/diffview.less'|compile %}" />
{% endblock %}

{% block document_content %}
    <h2>{% trans "Diff page versions" %}</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="2">{% trans "Revision" %}</th>
                <th colspan="2">{% trans "Compare" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for id, version, data in versions %}
            <tr>
                <td>{{ id }}</td>
                <td>{{ version.revision.date_created|date:'d.m.Y, H:i' }}, {{ version.revision.comment }} {% trans 'by' %} {{ version.revision.user }}</td>
                <td><input type="radio" class="version-control" name="compare-a" value="{{ id }}"></td>
                <td><input type="radio" class="version-control" name="compare-b" value="{{ id }}"></td>
                <td>
                    {% if not forloop.last %}
                        <button type="button" class="btn btn-default version-revert-button" data-toggle="modal" data-target="#confirmation-modal" data-revision-id="{{ version.pk }}" data-revision-name="{{ version.revision.date_created|date:'d.m.Y, H:i' }}, {{ version.revision.comment }} {% trans 'by' %} {{ version.revision.user }}" {% if not can_be_reverted %}disabled{% endif %}>{% trans "Revert to this version" %}</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-12 diffview" id="diffDisplay"></div>
    </div>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% include 'diffviewer_scripts.html' %}
{% endblock %}
