{% extends 'documents_base.html' %}

{% load i18n %}
{% load bootstrap4 %}

{% block sidebar %}{% endblock %}

{% block scripts %}
	{{ block.super }}

	<script>
		var websocketMethod = location.protocol === 'http:' ? 'ws://' : 'wss://';
		var socket = new WebSocket(websocketMethod + window.location.host + '{{ preview_url }}/{{ hash_value }}');
		socket.onmessage = function(e) {
			var documentText = $('.content');
			documentText.html(emojione.toImage(e.data));

		};
		// Call onopen directly if socket is already open
		if (socket.readyState === WebSocket.OPEN) socket.onopen();

	</script>

{% endblock %}
