{% extends 'base_with_sidebar.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load document_perms %}

{% block title %}
	{{ document.title }}
{% endblock %}

{% block sidebar %}
	{{ document.meta_information_html }}
	<div class="divider"></div>
	{% block document_nav %}
		{% get_obj_perms request.user for document as "document_perms" %}
		{% if "change" in document_perms %}
			<div role="tablist">
				<a class="btn btn-sm btn-sidebar {% if active_page == 'view' %}btn-warning{% else %}btn-default{% endif %}" href="{% url 'documents:view' document.url_title %}" role="tab">{% trans "View" %}</a>
				<a class="btn btn-sm btn-sidebar {% if active_page == 'edit' %}btn-warning{% else %}btn-default{% endif %}" href="{% url 'documents:edit' document.url_title %}" role="tab">{% trans "Edit" %}</a>
				<a class="btn btn-sm btn-sidebar {% if active_page == 'attachments' %}btn-warning{% else %}btn-default{% endif %}" href="{% url 'documents:attachments' document.url_title %}" role="tab">{% trans "Attachments" %}</a>
				{% if document.show_permissions_editor %}<a class="btn btn-sm btn-sidebar {% if active_page == 'permissions' %}btn-warning{% else %}btn-default{% endif %}" href="{% url 'documents:permissions' document.url_title %}" role="tab" {% if permission_warning %}data-toggle="tooltip" data-placement="left" data-container="body" title="{% trans "Anonymous users are not allowed to see this site!" %}" {% endif %}>{% if permission_warning %}<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {% endif %}{% trans "Permissions" %}</a>{% endif %}
				{% if document.show_publish_button %}<a class="btn btn-sm btn-sidebar btn-default" href="{% url 'documents:publish' document.url_title %}" role="tab">{% trans "Publish" %}</a>{% endif %}
				<a class="btn btn-sm btn-sidebar {% if active_page == 'versions' %}btn-warning{% else %}btn-default{% endif %}" href="{% url 'documents:versions' document.url_title %}" role="tab">{% trans "Versions" %}</a>
			</div>
			<div class="divider"></div>
		{% endif %}
	{% endblock %}
	<p class="toc-heading">{% trans "Table of Contents" %}</p>
	{{ toc|safe }}
	{% if attachments %}
		<div class="toc">
			<ul><li><a href="#attachments" title="{% trans "Attachments" %}">{% trans "Attachments" %}</a></li></ul>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	{% block document_content %}
		<div>{{ text|safe }}</div>
		{% if attachments %}
			<div class="divider"></div>
			<h2 id="attachments">{% trans "Attachments" %}</h2>
			{% for attachment in attachments %}
				<div class="row">
					<div class="col-sm-4">
						<a href="{% url 'documents:download_attachment' %}?attachment_id={{ attachment.id }}">{{ attachment.displayname }}</a>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	{% endblock %}
{% endblock %}


{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
		$(document).ready(function() {
			// add link text to title of all elements in toc to enable tooltips with full text
			$('.toc a').each(function() {
				this.title = this.text;
			});
		});
	</script>
{% endblock %}
