{% load static %}
{% load i18n %}
{% load bootstrap3 %}

	<h2>{% trans "Write your new text" %}</h2>

	{% if form.errors  %}
		<div class="alert alert-danger alert-margin-bottom" role="alert">{% trans "Please provide the missing information" %}</div>
	{% endif %}

    {% if form.autosave  %}
		<div class="alert alert-danger alert-margin-bottom" role="alert">{% trans "This document was autosaved on" %} {{ form.autosave_date }}{% trans ", you can restore unsaved changes:" %} <a href="{{ edit_url }}?restore" class="btn-sm btn-default" role="button">{% trans "Click here" %}</a></div>
	{% endif %}
	
	<form class="form-horizontal" action="{{ edit_url }}" method="post" role="form" id="document-form">
		{% csrf_token %}
		<div class="form-group {% if 'title' in form.errors %}has-error{% endif %}">
			<label for="inputTitle" class="col-sm-2 control-label">{% trans "Title" %}</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" name="title" value="{{ form.data.title }}" placeholder="{% trans 'Your Title...' %}">
			</div>
		</div>
		<div class="form-group {% if 'type' in form.errors %}has-error{% endif %}">
			<label for="inputType" class="col-sm-2 control-label">{% trans "Type" %}</label>
			<div class="col-sm-8">				
				<select class="form-control" name="type" id="inputType">
					{% for id, choice in form.fields.type.choices %}
						<option value="{{ id }}">{{ choice }}</option>
					{% endfor %}	
				</select>
			</div>
		</div>
		<div class="form-group {% if 'text' in form.errors %}has-error{% endif %}">
			<label for="inputText" class="col-sm-2 control-label">{% trans "Text" %}</label>
			<div class="col-sm-8">
				<textarea class="form-control" name="text" id="inputText" rows=20 placeholder="{% trans 'Your Text...' %}">{{ form.data.text }}</textarea>
			</div>
		</div>
		<div class="form-group {% if 'comment' in form.errors %}has-error{% endif %}">
			<label for="inputComment" class="col-sm-2 control-label">{% trans "Comment" %}</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" name="comment" value="{{ form.data.comment }}" placeholder="{% trans 'What did you do?' %}">
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-4">
				<button type="submit" class="btn btn-primary">
					<i class="glyphicon glyphicon-floppy-disk"></i> {% trans 'Save' %}
				</button>
			</div>
		</div>
	</form>

	<h2>{% trans "Preview" %}</h2>
	<div class="divider"></div>
	<div id="text-preview"></div>

	<!-- mandatory script include -->
	<script type="text/javascript" src="{% static 'js/markdown.js' %}"></script>
	<script>
		function Editor (input, preview) {
            this.update = function () {
				preview.html(markdown.toHTML(input.val()));
			};
            input.editor = this;
			input.on('input', this.update);
            this.update();
		}
        var text = $('#inputText').val();
        function save() {
            if(text != $('#inputText').val()) {
                text = $('#inputText').val();

                var form = $('#document-form');
                var serializedData = form.serialize();

                 $.ajax({
                    url: "{% url 'information_pages:autosave' document.url_title %}",
                    type: "post",
                    data: serializedData
                });
            }
            setTimeout(function() { save(); }, 10000);
        }
		new Editor($('#inputText'), $('#text-preview'));
        save();
	</script>
