{% load static %}
{% load i18n %}
{% load bootstrap3 %}

	<h2>{% trans "Edit page" %}</h2>

    {% if form.autosave %}
		<div class="alert alert-danger alert-margin-bottom" role="alert">{% blocktrans with date=form.autosave_date %}This document was autosaved on {{ date }}{% endblocktrans %}, {% trans "you can restore unsaved changes:" %} <a href="{{ document.get_edit_url }}?restore" class="btn-sm btn-default" role="button">{% trans "Click here" %}</a></div>
	{% endif %}

	{% for new_autosaved_page in new_autosaved_pages %}
		<div class="alert alert-danger alert-margin-bottom" role="alert">{% blocktrans with date=new_autosaved_page.created %}There is a new document autosaved on {{ date }}{% endblocktrans %}, {% trans "you can restore this unsaved page:" %} <a href="{{ new_autosaved_page.get_edit_url }}?restore" class="btn-sm btn-default" role="button">{% trans "Click here" %}</a></div>
	{%  endfor %}

	<form action="{{ document.get_edit_url }}" method="post" class="form-horizontal" role="form" id="document-form">
		{% bootstrap_form form layout='horizontal' %}
		{% csrf_token %}
		{% buttons %}
		<div class="col-md-offset-2 col-md-9">
			<button type="submit" class="btn btn-primary">
				{% bootstrap_icon "floppy-disk" %} {% trans 'Save' %}
			</button>
		</div>
		{% endbuttons %}
	</form>

	<h2>{% trans "Preview" %}</h2>
	<div class="divider"></div>
	<div id="text-preview"></div>

	<!-- mandatory script include -->
	<script type="text/javascript" src="{% static 'js/markdown.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.hotkeys.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap-markdown/js/bootstrap-markdown.js' %}"></script>
	<script>
		$("#id_text").removeClass('form-control').markdown({
			autofocus:true,
			resize:"both",
			hiddenButtons:"cmdPreview",
			onChange: function(e) {
				$('#text-preview').html(markdown.toHTML($('#id_text').val()));
			},
			onShow: function(e) {
				this.onChange(e);
			}
		});
		var text = $('#inputText').val();
		function save() {
			if(text != $('#inputText').val()) {
				text = $('#inputText').val();

				var form = $('#document-form');
				var serializedData = form.serialize();

				$.ajax({
					url: "{% url 'information_pages:autosave' document.url_title %}",
					type: "post",
					data: serializedData
				});
			}
			setTimeout(function() { save(); }, 10000);
		}
		save();
	</script>
