{% load static %}
{% load i18n %}

<h2>{% trans "Edit Permissions" %}</h2>

<form method="POST">
	{% csrf_token %}
	{{ formset.management_form }}
	<div class="form-group">
		<table class="table table-striped vertically-aligned table-narrow" >
			<thead>
				<tr>
					<th class="col-md-6">{% trans "Role" %}</th>
					<th class="col-md-2 text-center">{% trans "View" %}</th>
					<th class="col-md-2 text-center">{% trans "Edit" %}</th>
					<th class="col-md-2 text-center">{% trans "Delete" %}</th>
				</tr>
			</thead>
			<tbody>
			{% for form in formset %}
				<tr>
					{{ form.group_name }}
					<td>{{ form.group_name.value }}</td>
					<td class="text-center">{{ form.view_permission }}</td>
					<td class="text-center">{{ form.change_permission }}</td>
					<td class="text-center">{{ form.delete_permission }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
	</div>
</form>
