{% extends 'base_with_sidebar.html' %}
{% load static %}
{% load compile_static %}
{% load i18n %}
{% load bootstrap3 %}
{% load guardian_tags %}

{% block title %}
	{{ document.title }}
{% endblock %}

{% block sidebar %}
	<div class="meta-information">
		{% trans "Author" %}: {{ document.author }}
	</div>
	{% block information_page_nav %}
		{% get_obj_perms request.user for document as "document_perms" %}
		{% if "change_informationdocument" in document_perms %}
			<div class="divider"></div>
			<a class="btn btn-sm btn-sidebar {% if active_page == 'view' %}btn-warning{% else %}btn-default{% endif %}" href="{% url 'information_pages:view_information' document.url_title %}" role="tab">{% trans "View" %}</a>
			<a class="btn btn-sm btn-sidebar {% if active_page == 'edit' %}btn-warning{% else %}btn-default{% endif %}" href="{% url 'information_pages:edit' document.url_title %}" role="tab">{% trans "Edit" %}</a>
			<a class="btn btn-sm btn-sidebar {% if active_page == 'attachments' %}btn-warning{% else %}btn-default{% endif %}" href="{% url 'information_pages:attachments' document.url_title %}" role="tab">{% trans "Attachments" %}</a>
			<a class="btn btn-sm btn-sidebar {% if active_page == 'permissions' %}btn-warning{% else %}btn-default{% endif %}" href="{% url 'information_pages:permissions' document.url_title %}" role="tab">{% trans "Permissions" %}</a>
			<a class="btn btn-sm btn-sidebar {% if active_page == 'versions' %}btn-warning{% else %}btn-default{% endif %}" href="{% url 'information_pages:versions' document.url_title %}" role="tab">{% trans "Versions" %}</a>
		{% endif %}
	{% endblock %}
{% endblock %}

{% block content %}
	{% block information_page_content %}
		<div class="markdown-text">{{ document.text }}</div>
		{% if attachments %}
			<div class="divider"></div>
			<h2>{% trans "Attachments" %}</h2>
			{% for attachment in attachments %}
				<div class="row">
					<div class="col-sm-4">
						<a href="{% url 'documents:download_attachment' %}?attachment_id={{ attachment.id }}">{{ attachment.displayname }}</a>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	{% endblock %}
{% endblock %}


{% block scripts %}
	{{ block.super }}
	{% block information_pages_scripts %}
		<script type="text/javascript" src="{% static 'js/markdown.js' %}"></script>
		<script>
			var markdownContainer = $('.markdown-text');
			markdownContainer.html(markdown.toHTML(markdownContainer.text()));
		</script>
	{% endblock %}
{% endblock %}
