{% load i18n %}
{% load information_pages_templatetags %}

<dl class="meta-information">
	{% if permission_overview %}
		<dt>{% trans "Created" %}</dt>
		<dd>{{ document.created|date:"d.m.Y, H:i" }}</dd>
	{% endif %}
	<dt>{% trans "Last change" %}</dt>
	<dd>{{ document.last_change|date:"d.m.Y, H:i" }}
		{% resolve_show_author_policy document.show_author_to as author_is_shown %}
		{% if document.last_author and author_is_shown %}
			<i>{% trans "by" %}</i> {{ document.last_author }}
		{% endif %}
	</dd>
</dl>
