{% extends "base_without_sidebar.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans 'Edit group' %}{% endblock title %}
{% block content %}
	{{ block.super }}

	<form action="{% url 'edit_group' group.id %}" method="post" class="form-horizontal" role="form">
	{% bootstrap_form form layout='horizontal' bound_css_class='has-error' %}
	{% csrf_token %}
	{% buttons %}
	<div class="col-md-offset-2 col-md-4">
		<button type="submit" class="btn btn-primary">
			{% trans 'Save' %}
		</button>
	</div>
	{% endbuttons %}
	</form>
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script>
	// Activate Select2 if present on page
	$(".select2-selection").select2({
		language: "{{ LANGUAGE_CODE }}",
		placeholder: "{% trans 'Please select...' %}"
	});
	</script>
{% endblock %}
