{% extends "base_without_sidebar.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans 'Login' %}{% endblock title %}
{% block content %}
	{{ block.super }}

	{% if next %}
		<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			{% trans "Please login to see this page." %}
		</div>
	{% endif %}
	<form action="{% url 'login' %}" method="post" class="form-horizontal" role="form">
	{% bootstrap_form form layout='horizontal' bound_css_class='has-error' %}
	<input type="hidden" name="next" value="{{ next }}" />
	{% csrf_token %}
	{% buttons %}
	<div class="col-md-offset-2 col-md-4">
		<button type="submit" class="btn btn-primary">
			{% trans 'Login' %}
		</button>
	</div>
	{% endbuttons %}
	</form>
{% endblock %}

{% block scripts %}
	{{ block.super }}

	<script type="text/javascript">
		$("#id_username").focus();
	</script>
{% endblock %}
