{% extends "base_without_sidebar.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans 'View page as a different user' %}{% endblock title %}
{% block content %}
	{{ block.super }}
	<form action="" method="post" class="form-horizontal" role="form" id="user_impersonation_form">
	{% bootstrap_form form layout='horizontal' %}
	{% csrf_token %}
	{% buttons %}
	<div class="col-md-offset-2 col-md-4">
		<button type="submit" class="btn btn-primary" disabled>
			{% trans 'View page as selected user' %}
		</button>
	</div>
	{% endbuttons %}
	</form>
{% endblock %}

{% block scripts %}
	{{ block.super }}

	<script type="text/javascript">
		$("#id_username").on('change', function() {
			var selectedUserId = $(this).find(":selected").val();
			var form = $('#user_impersonation_form');
			form.attr('action', 'hijack/' + selectedUserId + '/');
			form.find(":submit").prop('disabled', false);
		});

		$(".select2-selection").select2({
            language: "{{ LANGUAGE_CODE }}",
            placeholder: "{% trans 'Please select...' %}"
        });
	</script>
{% endblock %}
