{% extends 'admin/base.html' %}
{% load i18n %}

{% block title %}
	{% trans 'Import csv' %}
{% endblock %}

{% block content %}
    <div>
		<p>{% trans 'Update user data by importing a csv of the following format: "user-name,e-mail-prefix@domain". This will update all e-mails of users with the same e-mail-prefix but different domain.' %}</p>
        <form action="." method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}

			<button class="btn btn-primary" type="submit">Upload CSV</button>
        </form>
    </div>
    <br/>
{% endblock %}
